:root {
  --dark-purple: #24053e;
  --eucalyptus-green: #44ffa1;
  --davy-grey: #584d62;
  --ghost-white: #fcf8ff;
  --white: #fff;

  @include responsive-var("bg-decoration-size", 1970px, 4120px, 7630px);
}
