.footer {
  padding: 73px calc(50% - 58px) 64px calc(50% - 58px);

  @include breakpoint(tablet) {
    padding-top: 79px;
    padding-bottom: 122px;
  }

  @include breakpoint(desktop) {
    padding-top: 121px;
    padding-bottom: 110px;
    padding-left: calc(50% - 59px);
  }

  &__logo {
    display: block;
    margin: 0 auto;
  }

  &__links {
    display: flex;
    align-items: center;
    gap: 28px;
    margin-top: 57px;

    img {
      display: block;
    }
  }
}
