@font-face {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../assets/fonts/fraunces/Fraunces_144pt-SemiBold.ttf)
    format("truetype");
}

@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../assets/fonts/manrope/Manrope-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../assets/fonts/manrope/Manrope-Bold.ttf) format("woff2");
}
